apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ names.tenant }}-{{ names.lifecycle }}
  namespace: blackops-argocd-tenants
spec:
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
  namespaceResourceBlacklist:
    - group: "*"
      kind: ResourceQuota
  roles:
    - groups:
      - group: {{ request.ldap_group }}
        name: admin
        policies:
          - p, proj:{{ names.tenant }}-{{ names.lifecycle }}:admin, applications, *, {{ names.tenant }}-{{ names.lifecycle }}/*, allow
          - p, proj:{{ names.tenant }}-{{ names.lifecycle }}:admin, exec , create, get, {{names.tenant }}-{{ names.lifecycle }}/*, allow
  destinations:
    - namespace: {{ names.tenant }}-*
      name: {{ request.cluster }}
  sourceRepos:
    - {{ request.git.repo_url }}
