apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: {{ names.application_name }}
  namespace: argocd

  labels:
    tenant: {{ request.tenant }}
    lifecycle: {{ request.lifecycle }}

spec:
  project: {{ names.project_name }}

  source:
    repoURL: {{ request.git.repo_url }}
    targetRevision: {{ request.git.target_revision }}
    path: {{ request.git.path }}


  destination:
    server: server
    namespace: {{ names.namespace }}

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

    syncOptions:
      - CreateNamespace=true