apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ request.cluster }}-{{ names.tenant }}-{{ names.application_name }}
  namespace: blackops-argocd-tenants
  labels:
    blackops/managed: "true"
    blackops/tenant: {{ names.tenant }}
spec:
  project: {{ names.tenant }}-{{ names.lifecycle }}
  source:
    repoURL: {{ request.git.repo_url }}
    targetRevision: {{ request.git.target_revision }}
    path: {{ request.cluster }}
    helm:
      releaseName: {{ request.cluster }}-{{ names.lifecycle }}-{{ names.application_name }}
      valueFiles:
        - values.yaml
  destination:
    name: {{ request.cluster }}
    namespace: {{ names.namespace }}