apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ names.cluster }}-{{ names.tenant }}-{{ names.application }}
  namespace: blackops-argocd-tenants
  labels:
    blackops/managed: "true"
    blackops/monitored: "true"
    blackops/tenant: {{ request.tenant }}
    blackops/part-of: "argocd"
spec:
  syncPolicy:
    preserveResourcesOnDeletion: true
  generators:
    - git:
        repoURL: {{ request.git.repo_url }}
        revision: {{ request.git.target_revision }}
        directories:
          - path: {{ names.lifecycle }} /*
  template:
    metadata:
      name: {{ path.basename }}
      labels:
        blackops/managed: "true"
        blackops/monitored: "true"
        blackops/tenant: {{ request.tenant }}
        blackops/part-of: {{ path.basename }}
    spec:
      project: {{ names.tenant }}-{{ names.lifecycle }}
      source:
        repoURL: {{ request.git.repo_url }}
        targetRevision: {{ request.git.target_revision }}
        path: '{{"{{"}}path{{"}}"}}'
        directory:
          recurse: true
      destination:
        name: {{ request.cluster }}
        namespace: '{{"{{"}}namespace{{"}}"}}'-*
