# Default ignored files
/../../automation-for-namespace /.idea/shelf/
/../../automation-for-namespace /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../automation-for-namespace /.idea/httpRequests/
